<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Muli:300,400,700,900" rel="stylesheet">
    <link rel="stylesheet" href="~/Content/ProjectContent/fonts/icomoon/style.css">

    <link rel="stylesheet" href="~/Content/ProjectContent/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/ProjectContent/css/jquery-ui.css">
    <link rel="stylesheet" href="~/Content/ProjectContent/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/Content/ProjectContent/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/Content/ProjectContent/css/owl.theme.default.min.css">

    <link rel="stylesheet" href="~/Content/ProjectContent/css/jquery.fancybox.min.css">

    <link rel="stylesheet" href="~/Content/ProjectContent/css/bootstrap-datepicker.css">

    <link rel="stylesheet" href="~/Content/ProjectContent/fonts/flaticon/font/flaticon.css">

    <link rel="stylesheet" href="~/Content/ProjectContent/css/aos.css">
    <link href="~/Content/ProjectContent/css/jquery.mb.YTPlayer.min.css" media="all" rel="stylesheet" type="text/css">

    <link rel="stylesheet" href="~/Content/ProjectContent/css/style.css">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
</head>
<body>
    
    @RenderBody()
    
    <div id="loader" class="show fullscreen"><svg class="circular" width="48px" height="48px"><circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee" /><circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10" stroke="#51be78" /></svg></div>

    <script src="~/Content/ProjectContent/js/jquery-3.3.1.min.js"></script>
    <script src="~/Content/ProjectContent/js/jquery-migrate-3.0.1.min.js"></script>
    <script src="~/Content/ProjectContent/js/jquery-ui.js"></script>
    <script src="~/Content/ProjectContent/js/popper.min.js"></script>
    <script src="~/Content/ProjectContent/js/bootstrap.min.js"></script>
    <script src="~/Content/ProjectContent/js/owl.carousel.min.js"></script>
    <script src="~/Content/ProjectContent/js/jquery.stellar.min.js"></script>
    <script src="~/Content/ProjectContent/js/jquery.countdown.min.js"></script>
    <script src="~/Content/ProjectContent/js/bootstrap-datepicker.min.js"></script>
    <script src="~/Content/ProjectContent/js/jquery.easing.1.3.js"></script>
    <script src="~/Content/ProjectContent/js/aos.js"></script>
    <script src="~/Content/ProjectContent/js/jquery.fancybox.min.js"></script>
    <script src="~/Content/ProjectContent/js/jquery.sticky.js"></script>
    <script src="~/Content/ProjectContent/js/jquery.mb.YTPlayer.min.js"></script>




    <script src="~/Content/ProjectContent/js/main.js"></script>
</body>
</html>
