@{
    Layout = "~/Views/Shared/Profile_Layout.cshtml";
}


<div class="card text-center">
    <div class="card-header">
        <ul class="nav nav-tabs card-header-tabs">
            <li class="nav-item">
                <a class="nav-link active" href="#">Monday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Tuesday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Wednesday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Thursday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Friday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Saturday</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sunday</a>
            </li>
        </ul>
    </div>
    <div class="card-body">
        <div class="card mb-4">
            <div class="card-header">
                08:00-08:50
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Mathematics 1</p>
                    <footer>604 room</footer>
                    <footer class="blockquote-footer">Assistant-Professor: Anuar Esbergenov</footer>
                </blockquote>
            </div>
        </div>
        <div class="card mb-4">
            <div class="card-header">
                09:00-09:50
            </div>
            <div class="card-body">
                <blockquote class="blockquote mb-0">
                    <p>Physics</p>
                    <footer>202 room</footer>
                    <footer class="blockquote-footer">Assossiated-Professor: Askar Bebitov</footer>
                </blockquote>
            </div>
        </div>
    <div class="card mb-4">
        <div class="card-header">
            10:00-10:50
        </div>
        <div class="card-body">
            <blockquote class="blockquote mb-0">
                <p>C# .NET Framework</p>
                <footer>403 room</footer>
                <footer class="blockquote-footer">Assossiated-Professor: Nurkamilya Daurenbayeva</footer>
            </blockquote>
        </div>
    </div>
</div>
