
@{
    ViewBag.Title = "SchedulePage";
}

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href="img/favicon.png" type="image/png">
    <title>Schedule IITU</title>
    <link rel="stylesheet" href="style.css?969">
</head>

<body>
   
</body>
</html>
